<!DOCTYPE html>
<html>
<head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dce7d4;"> 
 <a class="navbar-brand" href="#">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
      <li class="nav-item active">
      	<a class ="nav-link"> <%=link_to "Home", accueil_path %> </a>
      </li>
      <li class="nav-item">
    <a class="nav-link"> <%= link_to "Team", team_path %> </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link"> <%=link_to "Contact", contact_path %> </a> 
      </li>
  
      
    </ul>
  </div>
</nav>
	<title>PAGE CONTACT</title>
</head>
<body>
</br>
<h1> Un coup de coeur sur le site ? Une envie de nous rencontrer ? C'est ici que ça se passe!</h1>
</br> 
Pour nous contacter, rendez-vous à l'Anacrouse à Montpellier, ou bien contactez-nous directement sur Slack sur le chan lieu-montpellier. Au plaisir d'entendre de nouveaux gossips!
</body>
</html>